body {
	background-color: black;
	color: white;
	margin: 0;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px 8px #00000055;
}

.Frame {
	display: table;
	width: 100%;
	padding: 32px;
}

html>

/**/
body .Frame {
	height: 100%;
}

.Row {
	display: table-row;
	height: 1px;
	overflow: hidden;
}

html>body .Row.Expand {
	height: auto;
}

/* slideshow */
.fullBackground {
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -10;
}




.bottom-info a,
.bottom-info a:visited,
.bottom-info a:active {
	text-decoration: none;
	color: black;
	border: 2px solid white;
	background-color: white;
	border-radius: 8px;
	padding-left: 2px;
	padding-right: 4px;
}
.bottom-info a:hover {
	color:black;
	background-color: white;
}





/* mouse over link */
.bottom-info a:hover {
	color: white;
	border-color: black;
	background-color: black;
}

/* Style all font awesome icons */
.fa {
	padding: 17px;
	font-size: 32px;
	size: 32px;
	text-align: center;
	text-decoration: none;
	border: 0px;
	color: white;
	background-color: black;
	opacity: 0.5;
	margin-right: 8px;
	border-radius: 50%;
}

.fa:hover {
	color: white;
	background-color: black;
	opacity: 1;
}

/* Set a specific color for each brand */
.fa-twitter:hover {
	background-color: #55ACEE;
}

.fa-windows:hover {
	background-color: #0066CC;
}





/* sessions */
#logo {
	margin: 32px;
	font-family: 'Playfair Display', serif;
}

#bottom-info {
	bottom: 0;
	margin: 32px;
}

.spacer {}

.sideGradient {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	z-index: -1;
}