:root {
    --main-color: #2c5d87;
    --main-color-hover: #1f405e;
    --border-radius: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #141414;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: var(--border-radius);
    transition: background-color, color;
}

.buttons a:hover {
    background-color: var(--main-color);
    color: white;
}

.buttons a b {
    margin-right: 8px;
}

.language-toggle {
    margin-top: 20px;
}

#language-button {
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
}

#language-button:hover {
    background-color: var(--main-color-hover);
}

footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

footer a {
    margin: 0 10px;
    color: var(--main-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
